<script type="text/javascript" src="/assets/scripts/controllers/shelf.controller.js"></script>


<div class="container">
    <h1 id="welcome" class="lead">Welcome, {{uc.userName}}!</h1>
    <p>This is the user page!</p>
    <button class="btn btn-default" ng-click="uc.logout()">Log Out</button>
</div>
<div ng-controller="shelfController as sc">
  <div>
    <input placeholder="description" ng-model="sc.descriptionIn">
    <input placeholder="imgUrl" ng-model="sc.imgUrlIn">
    <button type="button" ng-click="sc.addShelfItem(uc.userName)">add item</button>
    <!-- <button type="button" ng-click=""></button> -->
  </div>

  <div class="container" ng-controller="shelfController as sc">
    <div ng-repeat="item in sc.allItems">
      {{item.userName}}
      {{item.description}}
      {{item.imgUrl}}
      <button type="button" ng-click="sc.deleteItem(item._id)">Delete</button>
    </div>
  </div>
  <!-- <div id="outputDiv"> -->
    <!-- Shelf Items go here-->
    <!-- <div ng-controller="shelfController as sc" ng-repeat="item in sc.allItems">
      {{item.userName}}
      {{item.description}}
      {{item.imgUrl}}
    </div> -->

  <!-- </div> -->

</div>
